{#<b>bold</b>, <strong>bold</strong>#}
{#<i>italic</i>, <em>italic</em>#}
{#<a href="http://www.example.com/">inline URL</a>#}
{#<a href="tg://user?id=123456789">inline mention of a user</a>#}
{#<code>inline fixed-width code</code>#}
{#<pre>pre-formatted fixed-width code block</pre>#}

<b>Login into server</b>
Somebody with ip <i>{{ host }}</i> from <i>{{ country }}/{{ city }}</i>
connected to your server <code>{{ user }}@{{ server }}</code>
